@use "sass:math";

$slider-radius: $radius !default;
$slider-track-background: $grey-lighter !default;
$slider-track-radius: $radius !default;
$slider-track-border: 0px solid $grey !default;
$slider-track-shadow: 0px 0px 0px $grey !default;
$slider-thumb-background: $white !default;
$slider-thumb-radius: $radius !default;
$slider-thumb-border: 1px solid $grey-light !default;
$slider-thumb-shadow: none !default;
$slider-thumb-to-track-ratio: 2 !default;
$slider-output-width: 3rem !default;
$slider-output-background: $grey-dark !default;
$slider-output-radius: $radius !default;

@mixin slider-track {
  &::-webkit-slider-runnable-track {
    @content
  }
  &::-moz-range-track {
    @content
  }
  &::-ms-track {
    @content
  }
}

@mixin slider-thumb {
  &::-webkit-slider-thumb {
    @content
  }
  &::-moz-range-thumb {
    @content
  }
  &::-ms-thumb {
    @content
  }
}

@mixin slider-orientation($orientation) {
  @if $orientation == "horizontal" {
    &:not([orient="vertical"]) {
      @content
    }
  } @else if $orientation == "vertical" {
    &[orient="vertical"] {
      @content
    }
  } @else {
    @error "Invalid orientation #{$orientation}"
  }
}

@mixin slider-size($size) {
  $track-height: math.div($size, $slider-thumb-to-track-ratio);
  $thumb-size: $size;

  @include slider-thumb {
    height: $thumb-size;
    width: $thumb-size;
  }

  @include slider-orientation("horizontal") {
    min-height: calc((#{$size} + 2px) * 1.25);

    @include slider-track {
      height: $track-height;
    }

    &::-webkit-slider-thumb {
      margin-top: math.div($thumb-size, -4);
    }
  }

  @include slider-orientation("vertical") {
    @include slider-track {
      width: $track-height;
    }

    &::-webkit-slider-thumb {
      margin-left: math.div($thumb-size, -4);
    }
  }
}

input[type="range"].slider {
  appearance: none;
  margin: 1rem 0;
  background: transparent;
  touch-action: none;

  &.is-fullwidth {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &.has-output,
  &.has-output-tooltip {
    + output {
      width: $slider-output-width;
      background: $slider-output-background;
      border-radius: $slider-output-radius;
      padding: 0.4rem 0.8rem;
      font-size: $size-7;
      line-height: $size-7;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $white;
      overflow: hidden;
      pointer-events: none;
      z-index: 200;
    }

    &:disabled + output {
      opacity: 0.5;
    }
  }

  &.has-output {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - (#{$slider-output-width + 1.2rem}));

    + output {
      display: inline-block;
      margin-left: 0.75rem;
      vertical-align: middle;
    }
  }

  &.has-output-tooltip {
    display: block;

    + output {
      position: absolute;
      left: 0;
      top: -0.1rem;
    }
  }

  @include slider-orientation("horizontal") {
    @include slider-track {
      width: 100%;
    }
  }

  @include slider-orientation("vertical") {
    @include slider-track {
      height: 100%;
    }

    appearance: slider-vertical;
    writing-mode: bt-lr;
  }

  @include slider-track {
    cursor: pointer;
    animate: 0.2s;
    box-shadow: $slider-track-shadow;
    background: $slider-track-background;
    border-radius: $slider-track-radius;
    border: $slider-track-border;
  }

  &::-ms-fill-lower, &::-ms-fill-upper {
    background: $grey-lighter;
    border-radius: $slider-radius;
  }

  @include slider-thumb {
    box-shadow: $slider-thumb-shadow;
    border: $slider-thumb-border;
    border-radius: $slider-thumb-radius;
    background: $slider-thumb-background;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    appearance: none;
  }

  &.is-rounded {
    @include slider-thumb {
      border-radius: $radius-rounded;
    }
  }

  &:active {
    @include slider-thumb {
      transform: scale(1.25);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    @include slider-thumb {
      cursor: not-allowed;
      transform: scale(1);
    }
  }

  &::-ms-thumb {
    margin-top: 0;
  }

  @include slider-size($size-normal);

  &.is-small {
    @include slider-size($size-small);
  }

  &.is-medium {
    @include slider-size($size-medium);
  }

  &.is-large {
    @include slider-size($size-large);
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include slider-track {
        background: $color !important;
      }

      &::-ms-fill-lower, &::-ms-fill-upper {
        background: $color;
      }

      &.has-output,
      .has-output-tooltip {
        + output {
          background-color: $color;
          color: $color-invert;
        }
      }
    }
  }
}
