@import "theme-default";
@import "mixins";

.discord-screen {
  --discord-screen-background-color: #ffffff;
  --discord-screen-embed-background-color: #f2f3f5;
  --discord-screen-color: #060607;
  --message-embed-color: #e3e5e8;
  --message-header-date-color: #5e6772;

  background-color: var(--discord-screen-background-color);
  padding: 1rem;
  border-radius: 6px;
  font-family: Whitney, sans-serif;
  font-size: 0.875rem;
  line-height: 22px;
  text-rendering: optimizelegibility;

  &.is-sticky {
    position: sticky;
    top: 4rem;
  }

  .discord-message-preview {
    display: flex;
    color: var(--discord-screen-color);
    padding: 1rem 0;
    font-size: 0.875rem;

    .message-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;
      margin-right: 1rem;

      @include mobile {
        display: none;
      }
    }

    .message-message {
      flex-grow: 1;

      .message-name {
        display: flex;
        align-items: center;

        .message-username {
          font-weight: 600;
        }

        .message-tag {
          font-size: 10px;
          background: #5865F2;
          line-height: 15px;
          height: .9375rem;
          padding: 0 .275rem;
          margin-top: .075em;
          border-radius: .1875rem;
          margin-left: .25rem;
          position: relative;
          top: .1rem;

          .message-tag-text {
            line-height: .9375rem;
            position: relative;
            font-weight: 500;
            color: #fff;
          }
        }

        .message-date {
          font-size: 0.75rem;
          color: var(--message-header-date-color);
          margin-left: 0.5rem;
          display: inline-block;
          height: 1.25rem;
          cursor: default;
          pointer-events: none;
          font-weight: 500;
        }
      }

      .message-content {
        color: #dcddde;
        word-break: break-word;
      }

      .message-embed {
        padding: .5rem 1rem 1rem .75rem;
        border-radius: 4px;
        background-color: var(--discord-screen-embed-background-color);
        border-left: 4px solid var(--message-embed-color);
        margin-top: 8px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        box-sizing: border-box;
        max-width: 32.25rem;

        .embed-title {
          margin-top: 0.5rem;
          font-weight: 600;
          display: inline-block;
          grid-column: 1/1;
          font-size: 1rem;
        }

        .embed-description {
          margin-top: 0.5rem;
          line-height: 1.125rem;
          font-weight: 400;
          grid-column: 1/1;
        }

        .embed-fields {
          display: grid;
          grid-column: 1/1;
          margin-top: 8px;
          grid-gap: 8px;

          .embed-field {
            line-height: 1.125rem;
            min-width: 0;

            .embed-field-name {
              line-height: 1.125rem;
              min-width: 0;
              font-weight: 600;
              margin-bottom: 2px;
            }

            .embed-field-value {
              line-height: 1.125rem;
              font-weight: 400;
              min-width: 0;
            }
          }
        }

        .embed-footer {
          display: flex;
          align-items: center;
          grid-column: 1/1;
          margin-top: 8px;

          .embed-footer-icon {
            margin-right: 8px;
            width: 20px;
            height: 20px;
            object-fit: contain;
            border-radius: 50%;
          }

          .embed-footer-text {
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1rem;
          }
        }
      }
    }
  }

  a {
    color: #00aff4;

    &:hover {
      color: #00aff4;
      text-decoration: underline;
    }
  }

  .markdown {
    --markdown-color: #2e3338;
    --markdown-code-background-color: #e3e5e8;
    --markdown-quote-color: #c7ccd1;
    --markdown-codeblock-background-color: #f2f3f5;
    --markdown-codeblock-border-color: #e3e5e8;
    --markdown-spoiler-background-color: var(--markdown-codeblock-border-color);
    --markdown-spoiler-background-active-color: rgba(0, 0, 0, 0.1);

    color: var(--markdown-color);

    strong {
      color: var(--markdown-color);
    }

    code {
      padding: .2em;
      margin: -.2em 0;
      border-radius: 3px;
      font-size: 85%;
      font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
      text-indent: 0;
      border: none;
      white-space: pre-wrap;
      background-color: var(--markdown-code-background-color);
      color: var(--markdown-color);
    }

    p {
      white-space: break-spaces;
      color: var(--markdown-color);
    }

    .quote-container {
      display: flex;

      .quote-marker {
        background-color: var(--markdown-quote-color);
        width: 4px;
        border-radius: 2px;
      }

      blockquote {
        color: var(--markdown-color);
        padding: 0 8px 0 12px;
      }
    }

    .spoiler {
      color: transparent;
      background-color: var(--markdown-codeblock-border-color);
      cursor: pointer;
      border-radius: 3px;
      transition: all .1s ease;
      user-select: none;

      &:hover, &:focus {
        color: inherit;
        background: var(--markdown-spoiler-background-active-color);
        text-decoration: none;
        user-select: inherit;
      }
    }

    pre {
      box-sizing: border-box;
      max-width: 90%;
      padding: .5em;
      border-color: var(--markdown-codeblock-border-color);
      border-style: solid;
      border-width: 1px;
      border-radius: 0.25rem;
      background-color: var(--markdown-codeblock-background-color);
      margin-top: 6px;

      code {
        width: 100%;
        background: none;
      }
    }
  }

  @include prefers(dark) {
    --discord-screen-background-color: #36393f;
    --discord-screen-embed-background-color: #2f3136;
    --discord-screen-color: #dcddde;
    --message-embed-color: #202225;
    --message-header-date-color: #a3a6aa;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .discord-message-preview {
      .message-embed {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }

    .markdown {
      --markdown-color: #d9dadb;
      --markdown-code-background-color: #202225;
      --markdown-quote-color: #4f545c;
      --markdown-codeblock-border-color: #202225;
      --markdown-codeblock-background-color: #2f3136;
      --markdown-spoiler-background-active-color: rgba(255, 255, 255, 0.1);
    }
  }
}

